@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
  color: #000000;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

ul,
ol {
  list-style-type: none;
}

li {
  display: block;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  background-color: rgb(192, 172, 225);
}

.search__container {
  max-width: 800px;
  margin: 50px auto 50px;
}
.search__container .search__container_form {
  border: 1px solid rgb(174, 150, 212);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px;
  min-height: 120px;
}
.search__container .search__container_form .search__form .search__form_title {
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  border-bottom: 1px solid rgb(192, 172, 225);
  margin: 10px 10px 10px 10px;
  padding-bottom: 3px;
}
.search__container .search__container_form .search__form .search__form_title b {
  font-weight: 700;
}
.search__container .search__container_form .search__form .search__field {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 10px auto;
}
.search__container .search__container_form .search__form .search__field .search__field_invalid {
  display: none;
  position: absolute;
  bottom: 50px;
  left: 200px;
  border: 1px solid rgb(155, 126, 201);
  background-color: rgb(226, 210, 249);
  border-radius: 8px;
  font-size: 12px;
  white-space: nowrap;
  padding: 5px;
}
.search__container .search__container_form .search__form .search__field .search__field_input {
  font-size: 14px;
  background-color: rgba(227, 209, 255, 0.492);
  border: 1px solid rgba(192, 172, 225, 0.461);
  border-radius: 10px;
  flex: 1 1 auto;
  padding: 10px;
  margin: 5px 10px 5px 5px;
}
.search__container .search__container_form .search__form .search__field ::-moz-placeholder {
  font-size: 16px;
}
.search__container .search__container_form .search__form .search__field :-ms-input-placeholder {
  font-size: 16px;
}
.search__container .search__container_form .search__form .search__field ::placeholder {
  font-size: 16px;
}
.search__container .search__container_form .search__form .search__field .invalid {
  background-color: rgba(229, 83, 95, 0.206);
  border: 1px solid #e5535f;
  border-radius: 10px;
}
.search__container .search__container_form .search__form .search__field .search__field_button {
  max-width: 100px;
  flex: 1 1 auto;
  margin: 5px 10px 5px 20px;
  text-align: center;
  border: 1px solid rgba(174, 150, 212, 0.572);
  border-radius: 10px;
}
.search__container .search__container_form .search__form .search__field .search__field_button button {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  padding: 10px 20px;
}
.search__container .search__container_form .search__form .search__field :hover button {
  background-color: #ae96d4;
  color: #ffffff;
}
.search__container .search__container_form .search__form .search__field :hover.search__field_button {
  background-color: #ae96d4;
}
.search__container .search__container_loading {
  display: none;
  border: 1px solid rgb(174, 150, 212);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px 10px 20px 10px;
  margin-top: 3px;
  max-height: 80px;
}
.search__container .search__container_loading .search__loading_info {
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  margin: 20px 0 40px;
}
.search__container .search__container_not_found {
  display: none;
  border: 1px solid rgb(174, 150, 212);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px 10px 20px 10px;
  margin-top: 3px;
  max-height: 80px;
}
.search__container .search__container_not_found .search__not_found_info {
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  margin: 20px 0 40px;
}
.search__container .search__container_error {
  display: none;
  border: 1px solid rgb(174, 150, 212);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px 10px 20px 10px;
  margin-top: 3px;
  max-height: 80px;
}
.search__container .search__container_error .search__error_info {
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  margin: 20px 0 40px;
}
.search__container .search__container_list {
  display: none;
  border: 1px solid rgb(174, 150, 212);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px 10px 20px 10px;
  margin-top: 3px;
  min-height: 200px;
  overflow: hidden;
}
.search__container .search__container_list .search__list_title {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid rgb(192, 172, 225);
  margin: 10px 10px 10px 10px;
  padding-bottom: 3px;
}
.search__container .search__container_list .search__block_list .search__list .search__list_item {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  border: 1px solid rgb(192, 172, 225);
  border-radius: 10px;
  padding: 10px 10px;
  margin: 10px auto 0;
}
.search__container .search__container_list .search__block_list .search__list .search__list_item .search__list_item_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search__container .search__container_list .search__block_list .search__list .search__list_item .search__list_item_info .search__item_title {
  font-size: 18px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgb(192, 172, 225);
  margin-left: 10px;
}
.search__container .search__container_list .search__block_list .search__list .search__list_item .search__list_item_info :hover.search__item_title {
  color: rgb(192, 172, 225);
}
.search__container .search__container_list .search__block_list .search__list .search__list_item .search__list_item_info :visited.search__item_title {
  color: rgb(145, 101, 215);
}
.search__container .search__container_list .search__block_list .search__list .search__list_item .search__list_item_info :active.search__item_title {
  color: rgb(87, 12, 207);
}
.search__container .search__container_list .search__block_list .search__list .search__list_item .search__list_item_info .search__item_language {
  margin: 10px 5px 5px 15px;
  font-size: 15px;
  line-height: 18px;
}
.search__container .search__container_list .search__block_list .search__list .search__list_item .search__list_item_info .search__item_login {
  margin: 5px 5px 5px 15px;
  font-size: 15px;
  line-height: 18px;
}
.search__container .search__container_list .search__block_list .search__list .search__list_item .search__list_item_info .search__item_id {
  margin: 0 5px 5px 15px;
  font-size: 15px;
  line-height: 18px;
}
.search__container .search__container_list .search__block_list .search__list .search__list_item .search__item_avatar {
  max-width: 100px;
  border-radius: 50%;
  margin: 10px;
}