// Обнуляющие стили
@import "./reset.scss";

// Шрифты
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
	font-family: "Roboto", sans-serif;
	color: rgba(0, 0, 0, 0.6);

	width: 100%;
	height: 100%;

	background-color: rgb(192, 172, 225);
}

.search__container {
	max-width: 800px;
	margin: 50px auto 50px;

	.search__container_form {
		border: 1px solid rgb(174, 150, 212);
		border-radius: 10px;
		background-color: #ffffff;

		padding: 10px;
		min-height: 120px;

		.search__form {
			.search__form_title {
				display: inline-block;
				font-size: 20px;
				line-height: 24px;
				border-bottom: 1px solid rgb(192, 172, 225);

				margin: 10px 10px 10px 10px;
				padding-bottom: 3px;

				b {
					font-weight: 700;
				}
			}
			.search__field {
				position: relative;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				flex-wrap: wrap;

				max-width: 700px;
				margin: 10px auto;

				.search__field_invalid {
					display: none;
					position: absolute;
					bottom: 50px;
					left: 200px;

					border: 1px solid rgb(155, 126, 201);
					background-color: rgb(226, 210, 249);
					border-radius: 8px;

					font-size: 12px;
					white-space: nowrap;

					padding: 5px;
				}

				.search__field_input {
					font-size: 14px;
					background-color: rgba(227, 209, 255, 0.492);
					border: 1px solid rgba(192, 172, 225, 0.461);
					border-radius: 10px;

					flex: 1 1 auto;

					padding: 10px;
					margin: 5px 10px 5px 5px;
				}

				::placeholder {
					font-size: 16px;
				}

				.invalid {
					background-color: rgba(229, 83, 95, 0.206);
					border: 1px solid #e5535f;
					border-radius: 10px;
				}

				.search__field_button {
					max-width: 100px;
					flex: 1 1 auto;

					margin: 5px 10px 5px 20px;
					text-align: center;

					border: 1px solid rgba(174, 150, 212, 0.572);
					border-radius: 10px;

					button {
						background-color: #ffffff;
						color: rgba(0, 0, 0, 0.6);
						font-size: 16px;
						padding: 10px 20px;
					}
				}

				:hover button {
					background-color: #ae96d4;
					color: #ffffff;
				}

				:hover.search__field_button {
					background-color: #ae96d4;
				}
			}
		}
	}

	.search__container_loading {
		display: none;
		border: 1px solid rgb(174, 150, 212);
		border-radius: 10px;
		background-color: #ffffff;

		padding: 10px 10px 20px 10px;
		margin-top: 3px;
		max-height: 80px;

		.search__loading_info {
			text-align: center;
			font-size: 18px;
			line-height: 20px;
			margin: 20px 0 40px;
		}
	}

	.search__container_not_found {
		display: none;
		border: 1px solid rgb(174, 150, 212);
		border-radius: 10px;
		background-color: #ffffff;

		padding: 10px 10px 20px 10px;
		margin-top: 3px;
		max-height: 80px;

		.search__not_found_info {
			text-align: center;
			font-size: 18px;
			line-height: 20px;
			margin: 20px 0 40px;
		}
	}

	.search__container_error {
		display: none;
		border: 1px solid rgb(174, 150, 212);
		border-radius: 10px;
		background-color: #ffffff;

		padding: 10px 10px 20px 10px;
		margin-top: 3px;
		max-height: 80px;

		.search__error_info {
			text-align: center;
			font-size: 18px;
			line-height: 20px;
			margin: 20px 0 40px;
		}
	}

	.search__container_list {
		display: none;
		border: 1px solid rgb(174, 150, 212);
		border-radius: 10px;
		background-color: #ffffff;

		padding: 10px 10px 20px 10px;
		margin-top: 3px;
		min-height: 200px;
		overflow: hidden;

		.search__list_title {
			display: inline-block;
			font-size: 18px;
			line-height: 22px;
			border-bottom: 1px solid rgb(192, 172, 225);

			margin: 10px 10px 10px 10px;
			padding-bottom: 3px;
		}

		.search__block_list {
			.search__list {
				.search__list_item {
					display: flex;
					justify-content: space-between;

					max-width: 700px;
					border: 1px solid rgb(192, 172, 225);
					border-radius: 10px;

					padding: 10px 10px;
					margin: 10px auto 0;

					.search__list_item_info {
						display: flex;
						flex-direction: column;
						justify-content: center;

						.search__item_title {
							font-size: 18px;
							line-height: 20px;
							color: rgba(0, 0, 0, 0.6);
							border-bottom: 1px solid rgb(192, 172, 225);
							margin-left: 10px;
						}

						:hover.search__item_title {
							color: rgb(192, 172, 225);
						}

						:visited.search__item_title {
							color: rgb(145, 101, 215);
						}

						:active.search__item_title {
							color: rgb(87, 12, 207);
						}

						.search__item_language {
							margin: 10px 5px 5px 15px;
							font-size: 15px;
							line-height: 18px;
						}
						.search__item_login {
							margin: 5px 5px 5px 15px;
							font-size: 15px;
							line-height: 18px;
						}
						.search__item_id {
							margin: 0 5px 5px 15px;
							font-size: 15px;
							line-height: 18px;
						}
					}

					.search__item_avatar {
						max-width: 100px;
						border-radius: 50%;

						margin: 10px;
					}
				}
			}
		}
	}
}
